<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iago.networkingconference">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".NetworkingConferenceApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash activity -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity containing the fragments -->
        <activity android:name=".views.activities.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".views.activities.LocationPermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <activity android:name=".views.activities.StartUsingAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <!-- Service to download and update the attendee list -->
        <service android:name=".services.UpdateAttendeeListService" android:exported="false" />

    </application>

</manifest>